/* Style the form and its inputs */
.main__form-controls {
    background-image: linear-gradient(to bottom, #153b21 40%, #549966);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.517);
}

.form-controls__input {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.form-controls__input label {
    display: block;
    color: #ffffff; /* Change label color */
    text-transform: uppercase; /* Uppercase labels */
    margin-bottom: 5px; /* Add some spacing between label and input */
    font-size: 7px;
}

/* input{
    border-style: none;
} */

.form-controls__input input {
    padding: 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

.form-controls__input label.invalid {
    color: red;
}
